/node_modules
/public/hot
/public/storage
/public/avatars
/storage/*.key
/vendor/
/vendor/laravel/framework/src/Illuminate/Foundation/Auth/*
!/vendor/laravel/framework/src/Illuminate/Foundation/Auth/AuthenticatesUsers.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
