$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 75, 80, 90, 100);
$sides: (top, bottom, left, right);

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px!important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px!important;
    }

    .m-a-#{$space} {
      margin: #{$space}px!important;
    }

    .p-a-#{$space} {
      padding: #{$space}px!important;
    }
  }
}

[v-cloak] {
    display: none;
}

[special] {
    background: $special-background;
    background-image: $special-background;
}

.is-circle {
    border-radius: 50%;
}

.has-border {
    border: 2px solid white;
}

.has-border-dark {
    border: 2px solid $grey-dark;
}

.is-thin {
    border-width: 1px;
}

.is-rounded {
    border-radius: 5px;
}

.is-fixed {
    position: fixed;
}

@media screen and (min-width: $desktop) {
    .is-fullheight.is-fullheight-desktop {
        min-height: 100vh;
    }
}

@include desktop {
    figure.image.is-256x256-desktop {
        height: 256px!important;
        width: 256px!important;
    }
}

@include touch {
    .is-fullheight.is-fullheight-desktop {
        min-height: auto;
    }
    .is-nonfixed-touch {
        position: relative!important;
    }
    figure.image.is-128x128-touch {
        height: 128px;
        width: 128px;
    }
}

@include tablet {
    figure.image.is-128x128-tablet {
        height: 128px;
        width: 128px;
    }
}

@include mobile {
    figure.image.is-96x96-mobile {
        height: 96px;
        width: 96px;
    }
}

.is-fullwidth {
    width: 100%;
}

.is-centered {
    margin-left: auto;
    margin-right: auto;
}

.has-transparentbackground {
    background-color: transparent!important;
}

.hero.is-dark .tabs.is-boxed a {
    z-index: 997;
    border: none;
}

.has-content-vcentered {
    display: flex;
    align-items: center;
}

.has-content-hcentered {
    display: flex;
    justify-content: center;
}

.has-content-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.has-rows {
    flex-direction: column;
}
