html, body {
    background-color: whitesmoke;
    min-height: 100vh;
}

nav.navbar {
    padding: 15px;

    & .navbar-menu .navbar-start a {
        color: lighten($primary, 18%);
        &:hover  {
            color: white;
        }
        &.is-active {
            color: whitesmoke;
            &:hover {
                color: whitesmoke;
            }
        }
    }
    &.level:not(:last-child) {
        margin-bottom: 0;
    }
    &.has-shadow {
        box-shadow: 0 1px 5px $grey;
    }
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
    }
    & .navbar-burger {
        position: absolute;
        left: 0;
        color: white;
        transition: all 0.3s ease-in-out;

        & span {
            height: 2px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }
        & span:nth-child(1) {
            width: 15px;
        }
        & span:nth-child(2) {
            width: 10px;
        }
        & span:nth-child(3) {
            width: 12px;
        }
        &.is-active {
            color: $grey-dark;
        }
        &:hover, &.is-active {
            transition: all 0.2s ease-in-out;

            & span {
                width: 15px;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
nav.navbar-mobile {
    position: fixed;
    top: 0;
    left: -20rem;
    bottom: 0;
    width: 20rem;
    max-width: 75%;
    padding: 2rem;
    overflow-y: auto;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;

    &.is-active {
        left: 0;
    }
    & .navbar-divider {
        display: block;
    }
    & a.button {
        height: auto;
    }
    & .navbar-item {
        border-radius: 2px;
        display: block;
        padding: 0.5em 0.75em;
        &:hover {
            background-color: whitesmoke;
        }
    }
    & .navbar-burger-close {
        color: $grey-dark;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: lighten($secondary, 10%);
        }
    }
}
.navbar-mobile-underlay {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.is-active {
        opacity: 1;
        width: 100vw;
    }
}
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: transparent;
}

.hero-nav {
    margin-bottom: 1.5rem;

    & .hero-body {
        padding-top: 1rem;

        & .title {
            color: white;
        }
    }
}

.title {
    font-family: "Raleway", Helvetica;

    &.is-large {
        font-size: 84px;
    }
    & .subtitle.muted-text {
        color: darken(white, 15%);
    }
    & + hr {
        margin-top: -1rem;
    }
}

a, button {
    transition: all 0.2s ease-in-out;
    &:hover {
        transition: all 0.1s ease-in-out;
    }
}

.white-text {
    color: #fff;
}

a.white-text:hover {
    color: darken(white, 10%);
}

.dark-text {
    color: $grey-dark;
}

a.dark-text:hover {
    color: lighten($grey-dark, 10%);
}

.muted-text {
    color: darken(white, 25%);
}

a.muted-text:hover {
    color: darken(white, 35%);
}

.washed-text {
    color: whitesmoke;
}

a.washed-text:hover {
    color: white;
}

a.button.is-secondary {
    background-color: $secondary;
    &:hover {
        background-color: lighten($secondary, 5%);
    }
}

#steps {
    margin-bottom: 25px;

    .title, .subtitle {
        color: $primary;
        transition: color 0.2s ease-in-out;
    }
    a:hover {
        color: white;
        & .title, .subtitle {
            color: white;
            transition: color 0.1s ease-in-out;
        }
    }
}

.datepicker span .fa {
    font-size: 14px;
}

@include touch {
    main {
        padding-left: 5%;
        padding-right: 5%;
    }
}
